In [3]:
import pandas as pd
import configparser
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2
%aimport helper
%aimport import_dfs
%aimport calc

from IPython.core.display import display, HTML
from matplotlib.pyplot import figure
from import_dfs import Datenbank
import helper
from calc import *

import warnings
warnings.filterwarnings('ignore')

In [83]:
'''Datentypen
    staedte: Stadtdaten
    technologiedaten: Technologiedaten
    verbesserungsfaktoren: Verbesserungsfaktoren
    rf_pv_basis: Referenzstrekcen Basis
    rf_pv_pod: Referenzstrecken Pod
    rf_gv_basis: Referenzstrecken Güterverkehr Basis
    rf_gv_pod: Referenzstrecken Güterverkehr Pod
    rf_pv_routes: Strecken Personenverkehr 
    rf_gv_routes: Strecken Güterverkehr
    gemis_data: Daten zur Umrechnung Liter in Emissionen
    spezifischer_verbrauch: Je Klasse der Straßenverkehrsmittel
    bevoelkerungs_und_emissiondaten: BEV und Emissionsdaten
'''

db = Datenbank()
idx = pd.IndexSlice

['anpassungen_rf', 'besetzungsgrade', 'bevoelkerungs_und_emissiondaten', 'bevoelkerungsverteilung', 'gemis_data', 'informationen_rad', 'rf_gv_basis', 'rf_gv_pod', 'rf_gv_strecken', 'rf_pv_basis', 'rf_pv_pod', 'rf_pv_strecken', 'spezifischer_verbrauch', 'staedte', 'technologiedaten', 'verkehrsleistung_miv_(omm)']

In [86]:
sns.set(context='paper')
sns.set_palette("Set1", n_colors=8, desat=.5)
plt.rcParams.update({'font.size': 14})

In [87]:
s = complete_calc(db)
s.run_entire_calc()
s.print_all()

klassisch

trendszenario

autonom

optimiert

pod

In [125]:
df = pd.DataFrame(s.autonom_ausgabe.stack(), columns=['autonom'])
df.index = df.index.set_names('kategorien', level=2)
result = pd.DataFrame()
for i in s.szenarios:
    df = getattr(s, f'{i}_ausgabe')
    tmp = pd.DataFrame(df.stack(), columns=[i])
    tmp.index = tmp.index.set_names('kategorien', level=2)
    result = pd.concat([result, tmp], axis=1)
    
result = result.round(4).fillna(0)

result = result.rename(index={
    'miv': 'MIV',
    'oev': 'ÖPV',
    'flugzeug': 'Flugzeug',
    'pod_big': 'Pod Big',
    'pod_small': 'Pod Small',
    'rad': 'Fahrrad',
    'zu_fuss': 'zu Fuss', 
}, level='main_mode')
    
result.loc[idx[:,:,'length'],:] /= 1000
result.loc[idx[:,:,'length'],:] = result.loc[idx[:,:,'length'],:].round(0)

result.to_excel('../data/data.xlsx')