In [1]:
import pandas as pd
import configparser
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2
%aimport helper
%aimport import_dfs

from IPython.core.display import display, HTML
from matplotlib.pyplot import figure
from import_dfs import Datenbank
import helper

In [28]:
'''Datentypen
    staedte: Stadtdaten
    technologiedaten: Technologiedaten
    verbesserungsfaktoren: Verbesserungsfaktoren
    rf_pv_basis: Referenzstrekcen Basis
    rf_pv_pod: Referenzstrecken Pod
    rf_gv_basis: Referenzstrecken Güterverkehr Basis
    rf_gv_pod: Referenzstrecken Güterverkehr Pod
    rf_pv_Strecken: Strecken Personenverkehr 
    rf_gv_Strecken: Strecken Güterverkehr
    gemis_data: Daten zur Umrechnung Liter in Emissionen
    spezifischer_verbrauch: Je Klasse der Straßenverkehrsmittel
    bevoelkerungs_und_emissiondaten: BEV und Emissionsdaten
'''

db = Datenbank()

In [34]:
tech_data = db.technologiedaten
cities = db.staedte.drop(columns=['stadt_typ', 'stadt_größe'])
cities.head()

       stadt_id                  stadt_name
Index
0.0         1.0   München, Landeshauptstadt
1.0         2.0               Aachen, Stadt
2.0         3.0                       Emden
3.0         4.0  Mülheim an der Ruhr, Stadt
4.0         5.0          Westerstede, Stadt

In [36]:
rf_pv_basis = db.rf_pv_basis.copy()
rf_pv_basis.head()

,strecken_typ,name_verbindung,transferzeit,wartezeit,fahrtzeit,length,u_bahn,bike_sharing,e_bike,zug_nahverkehr,taxi,zu_fuss,fahrrad,bus,flugzeug,zug_fernverkehr,tram,miv
index,,,,,,,,,,,,,,,,,,
0.0,UK,1.0,30.0000,0.0,30.0000,2500.0,0.0,0.0,0.0,0.0,0.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0
1.0,UK,1.0,8.0000,0.0,8.0000,2600.0,0.0,0.0,0.0,0.0,0.0,0.0,2600.0,0.0,0.0,0.0,0.0,0.0
2.0,UK,1.0,16.0000,0.0,16.0000,3600.0,0.0,0.0,0.0,0.0,0.0,400.0,0.0,0.0,0.0,0.0,0.0,3200.0
3.0,UK,1.0,19.0000,1.0,18.0000,3790.0,1620.0,0.0,0.0,0.0,0.0,500.0,0.0,1670.0,0.0,0.0,0.0,0.0
4.0,UK,1.0,7.0909,0.0,7.0909,2600.0,0.0,0.0,2600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
rf_pv_routes = db.rf_pv_strecken.drop(columns='strecken_typ').assign(stadt_id_ende=lambda x: x['stadt_id_ende'].astype(int),
                                                                    stadt_id_start=lambda x: x['stadt_id_start'].astype(int))
rf_pv_routes.head()

,stadt_id_start,stadt_start,stadt_id_ende,stadt_ende,luftlinie,startpunkt,endpunkt
Name_Verbindung,,,,,,,
1.0,1,"München, Landeshauptstadt",1,"München, Landeshauptstadt",2000.0,Hilton am Englischen Garten,Werner von Simens Straße 1
2.0,2,"Aachen, Stadt",2,"Aachen, Stadt",2000.0,Aachen HBF,Peliserkerstraße 69
3.0,3,Emden,3,Emden,1930.0,Dat Otto Hus,Dithmarscher Str. 29
4.0,4,"Mülheim an der Ruhr, Stadt",4,"Mülheim an der Ruhr, Stadt",2040.0,Mülheim Hauptbahnhof,HRW
5.0,5,"Westerstede, Stadt",5,"Westerstede, Stadt",1920.0,Landessparkasse zu Oldenburg,Hagebaumarkt westerstede

In [85]:
df = (rf_pv_basis.merge(rf_pv_routes, left_on='name_verbindung', right_index=True)
             .merge(cities, left_on='stadt_id_start', right_on='stadt_id', suffixes=(False, '_start'))
            .merge(cities, left_on='stadt_id_ende', right_on='stadt_id', suffixes=(False, '_ende')))
df = df.drop(columns=['stadt_id_ende', 'stadt_id_start', 'stadt_idFalse', 'stadt_nameFalse', 'stadt_name_ende', 'luftlinie'])
df.columns

Index(['strecken_typ', 'name_verbindung', 'transferzeit', 'wartezeit',
       'fahrtzeit', 'length', 'u_bahn', 'bike_sharing', 'e_bike',
       'zug_nahverkehr', 'taxi', 'zu_fuss', 'fahrrad', 'bus', 'flugzeug',
       'zug_fernverkehr', 'tram', 'miv', 'stadt_start', 'stadt_ende',
       'startpunkt', 'endpunkt'],
      dtype='object')

In [86]:
df = df.copy()

unique_modes = [x for x in helper.find_unique_modes(tech_data) if x in df.columns]
unique_modes_time = [f'{x}_time' for x in helper.find_unique_modes(tech_data) if x in df.columns]
empty_df = pd.DataFrame(0, columns=unique_modes_time, index=df.index)
df = pd.concat([df, empty_df], axis=1)

In [95]:
result = [None]*(len(unique_modes)+len(unique_modes_time))
result[::2] = unique_modes
result[1::2] = unique_modes_time


df = df.reindex(['strecken_typ', 'name_verbindung', 'transferzeit', 'wartezeit', 'fahrtzeit', 'length'] 
                + result
                + ['stadt_start', 'stadt_ende', 'startpunkt', 'endpunkt'] ,axis='columns'). sort_values(by=['strecken_typ', 'name_verbindung']).drop(columns = ['bike_sharing' ,'bike_sharing_time'])

In [96]:
df.to_excel('verarbeitung.xlsx')

Closing remaining open files:../data/data.h5...done
/home/tim/miniconda3/envs/data_analysis/lib/python3.7/site-packages/tables/path.py:155: NaturalNameWarning: object name is not a valid Python identifier: 'verkehrsleistung_miv_(omm)'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)